# Python cache and temporary files
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
venv/
env/

# Environment files
.env

# Editor specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
